# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Egyetem\Adatszerkezetek\Githubsync\DSA_BancsikoD_SztA\Lab01\lab1_gy2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
